# Lithuania COVID analysis

I had a task to identify the 60-day interval of the pandemic, during which the total mortality was the largest in Lithuania.

In [281]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import pylab as pl
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
%matplotlib inline
import matplotlib as mpl
from scipy import stats
import seaborn as sns
import locale
import datetime
import pandas as pd
import ipywidgets as widgets
import plotly.graph_objects as go
from IPython.display import display
from sklearn import preprocessing

In [282]:
df = pd.read_csv('Agreguoti_COVID19_atvejai_ir_mirtys.csv')

In [283]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294692 entries, 0 to 294691
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   object_id          294692 non-null  int64
 1   municipality_name  294692 non-null  object
 2   date               294692 non-null  object
 3   sex                294692 non-null  object
 4   age_gr             294692 non-null  object
 5   new_cases          294692 non-null  int64
 6   deaths_all         294692 non-null  int64
 7   deaths_cov1        294692 non-null  int64
 8   deaths_cov2        294692 non-null  int64
 9   deaths_cov3        294692 non-null  int64
dtypes: int64(6), object(4)
memory usage: 22.5+ MB

In [284]:
df['date'] = pd.to_datetime(df['date'])

In [285]:
df.sort_values('deaths_all',ascending=False)

,object_id,municipality_name,date,sex,age_gr,new_cases,deaths_all,deaths_cov1,deaths_cov2,deaths_cov3
4950,4951,Vilniaus m. sav.,2020-12-26,Moteris,80-89,12,11,1,6,7
12035,12036,Vilniaus m. sav.,2021-01-26,Vyras,70-79,7,10,2,3,4
5879,5880,Vilniaus m. sav.,2020-09-18,Moteris,80-89,0,10,0,0,0
15704,15705,Kauno m. sav.,2021-12-31,Moteris,80-89,3,9,2,3,3
4889,4890,Vilniaus m. sav.,2021-01-01,Moteris,80-89,8,9,3,4,4
...,...,...,...,...,...,...,...,...,...,...
144837,144838,Kupiškio r. sav.,2021-10-07,Moteris,90-99,1,0,0,0,0
144838,144839,Kupiškio r. sav.,2021-10-06,Moteris,0-9,1,0,0,0,0
144839,144840,Kupiškio r. sav.,2021-10-06,Moteris,10-19,2,0,0,0,0
144840,144841,Kupiškio r. sav.,2021-10-06,Moteris,40-49,1,0,0,0,0
0,1,Vilniaus m. sav.,2022-05-17,Moteris,10-19,3,0,0,0,0

In [287]:
df2=df.groupby('date',as_index=False)[['deaths_all']].sum() #creating new df

In [288]:
df2.head()

        date  deaths_all
0 2020-02-01          92
1 2020-02-02         102
2 2020-02-03         103
3 2020-02-04         116
4 2020-02-05         114

In [289]:
df2['60 dienu suma'] =df2['deaths_all'].rolling(60).sum() #rolling sum of cases 60 days before

In [290]:
df2.iloc[0:60,2].sum() #counting first 60 cases of df

6592.0

In [291]:
df2['60 dienu suma'].max() #finding max value

10615.0

In [247]:
df2.loc[df2['60 dienu suma']==10615,'date'] #finding the row index

352   2021-01-18
Name: date, dtype: datetime64[ns]

In [254]:
df2.iloc[292:352,0:2] #finding the 60 days period

          date  deaths_all
292 2020-11-19         134
293 2020-11-20         152
294 2020-11-21         177
295 2020-11-22         188
296 2020-11-23         151
297 2020-11-24         154
298 2020-11-25         169
299 2020-11-26         146
300 2020-11-27         171
301 2020-11-28         151
302 2020-11-29         151
303 2020-11-30         171
304 2020-12-01         184
305 2020-12-02         167
306 2020-12-03         193
307 2020-12-04         181
308 2020-12-05         157
309 2020-12-06         176
310 2020-12-07         167
311 2020-12-08         165
312 2020-12-09         158
313 2020-12-10         179
314 2020-12-11         175
315 2020-12-12         183
316 2020-12-13         168
317 2020-12-14         217
318 2020-12-15         183
319 2020-12-16         211
320 2020-12-17         200
321 2020-12-18         198
322 2020-12-19         158
323 2020-12-20         188
324 2020-12-21         213
325 2020-12-22         201
326 2020-12-23         209
327 2020-12-24         182
328 2020-12-25         205
329 2020-12-26         195
330 2020-12-27         178
331 2020-12-28         188
332 2020-12-29         204
333 2020-12-30         202
334 2020-12-31         189
335 2021-01-01         173
336 2021-01-02         196
337 2021-01-03         174
338 2021-01-04         188
339 2021-01-05         155
340 2021-01-06         164
341 2021-01-07         173
342 2021-01-08         179
343 2021-01-09         150
344 2021-01-10         174
345 2021-01-11         172
346 2021-01-12         172
347 2021-01-13         176
348 2021-01-14         167
349 2021-01-15         173
350 2021-01-16         167
351 2021-01-17         142

In [264]:
df3=df.loc[(df['date'] > '2020-11-19') & (df['date'] < '2021-01-19')]

In [273]:
df4=df3.groupby(['municipality_name','date'],as_index=False)[['deaths_all']].sum()  #creating new df for second task

In [275]:
df4

       municipality_name       date  deaths_all
0        Akmenės r. sav. 2020-11-20           4
1        Akmenės r. sav. 2020-11-21           5
2        Akmenės r. sav. 2020-11-22           2
3        Akmenės r. sav. 2020-11-23           3
4        Akmenės r. sav. 2020-11-24           1
...                  ...        ...         ...
3576  Švenčionių r. sav. 2021-01-14           0
3577  Švenčionių r. sav. 2021-01-15           3
3578  Švenčionių r. sav. 2021-01-16           3
3579  Švenčionių r. sav. 2021-01-17           1
3580  Švenčionių r. sav. 2021-01-18           1

[3581 rows x 3 columns]

In [278]:
df4.to_csv('df_4.csv') # saving file

task 2.1 was done with Microsof Power BI